<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Management-System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" th:href="@{/logout}" methods="post" th:text="#{logout}"></a>
    <button  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

</nav>



<div class="container text-center shadow-lg p-3 mb-5 bg-body rounded">
    <div class="container my-2">
        <h1 class="shadow-sm p-3 mb-5 bg-body rounded" th:text="#{office.data}"></h1>
        <table class="table table-sm shadow-lg p-3 mb-5 bg-body rounded">
            <thead>
            <tr>
                <th class="shadow-lg p-3 mb-5 bg-body rounded" th:text="#{office.table_n}"></th>
                <th class="shadow-lg p-3 mb-5 bg-body rounded" th:text="#{office.table_l}"></th>
                <th class="shadow-lg p-3 mb-5 bg-body rounded" th:text="#{office.table_e}"></th>
                <th class="shadow-lg p-3 mb-5 bg-body rounded" th:text="#{office.table_p}"></th>
                <th class="shadow-lg p-3 mb-5 bg-body rounded" th:text="#{office.table_d}"></th>
                <th class="shadow-lg p-3 mb-5 bg-body rounded" th:text="#{office.table_c}"></th>
                <th class="shadow-lg p-3 mb-5 bg-body rounded" th:text="#{office.table_u}"></th>
                <th class="shadow-lg p-3 mb-5 bg-body rounded" th:text="#{office.table_b}"></th>
                <th class="shadow-lg p-3 mb-5 bg-body rounded" th:text="#{office.table_pe}"></th>
                <th class="shadow-lg p-3 mb-5 bg-body rounded" th:text="#{office.table_v}"></th>
                <th class="shadow-lg p-3 mb-5 bg-body rounded" th:text="#{office.send_message}"></th>
                <th class="shadow-lg p-3 mb-5 bg-body rounded" th:text="#{office.table_a}"></th>

            </tr>
            <tr th:each="employee : ${listEmployees}">
                <td th:text="${employee.passport.firstName}"></td>
                <td th:text="${employee.passport.lastName}"></td>
                <td th:text="${employee.email}"></td>
                <td th:text="${employee.passport.passportNumber}"></td>
                <td th:text="${employee.passport.date}"></td>
                <td th:text="${employee.passport.country}"></td>
                <td th:text="${employee.universityCode}"></td>
                <td th:text="${employee.passport.birthday}"></td>
                <td th:text="${employee.passport.passportExpired}"></td>
                <td th:text="${employee.visa}"></td>
                <td th:text="${employee.message}"></td>


                <td class="btn-group" role="group">
                    <a th:href="@{/showFormForUpdate/{id}(id=${employee.id})}" class="btn btn-outline-info shadow-lg p-3 mb-5 bg-body rounded" th:text="#{office.send_message}"></a><br>

                    <!--                    <a th:href="@{/showFormForMessage/{id}(id=${employee.id})}" class="btn btn-outline-info">Update</a><br>-->
                    <!--                    <a th:href="@{/deleteEmployee/{id}(id=${employee.id})}" class="btn btn-outline-dark">Delete</a>-->
                </td>
            </tr>
            </thead>
        </table>
    </div>
</div>

</body>
</html>