<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Management-System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" th:href="@{/logout}" methods="post" th:text="#{logout}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link disabled" th:href="@{/showNewEmployeeForm}" th:text="#{index_app.naveV}"> </a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" th:href="@{/myProfile}" th:text="#{index_app.nave_My}"></a>
            </li>
        </ul>
        <form class="d-flex" th:action="@{/findStudent}" method="post">
            <input class="form-control me-2" name="passportNumber" type="search" placeholder="Search"
                   aria-label="Search">
            <button class="btn btn-outline-success" type="submit" th:text="#{search}"></button>
        </form>
    </div>
</nav>
<center>
    <h1>visa list</h1>

    <div>
        <div class="d-flex" style="height: 200px; ">
            <div class="vr">
                <center class="d-flex">
                    <div class=" shadow-lg p-3 mb-5 bg-body rounded alert alert-secondary" role="alert" tabindex="-1"
                         th:each="visaList : ${list}">
                        <h3>Visa</h3>
                        <p th:text="${visaList.visa}"></p>
                        <h3>email</h3>
                        <p th:text="${visaList.email}"></p>
                        <h3>message</h3>
                        <p class="shadow-lg p-3 mb-5 bg-body rounded" th:text="${visaList.message}"></p>
                    </div>
                </center>
            </div>

        </div>
    </div>
</center>
<footer class="link-warning shadow-lg p-2 mb-3 bg-secondary text-white">@ITransation</footer>

</body>
</html>